<header>
<nav class="navbar navbar-expand-md navbar-light" role="navigation">

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navCollapse" style="font-size:1.5rem; font-weight:500; color:#000000;">
        <ul class="navbar-nav mr-auto" id="nav">
            
            <li class="nav-item">
                <a class="nav-link" href="/" data-name="home">Home</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="/schedule" data-name="schedule">Schedule</a>
            </li>
            
<!--
            <li class="nav-item">
                <a class="nav-link" href="/commitee" data-name="commitee">Commitee</a>
            </li>            
-->

  

        </ul>
                 </div>
</nav>
</header>
