{{ define "main" }}
        <main role="main">

            <section style="padding-top:75px;">
                <div class="container">
                    <div>
                        <div class="col-md-12">
                            <h1>SDMX Global Conference 2023</h1>
                            <h1>Organising commitee website</h1>
                        </div>
                    </div>
                </div>
            </section>
            
            <section style="padding-top:75px; padding-bottom:400px;">
                <div class="container">
                    <div>
                        <div class="col-md-12">

                            <h3><a href="/schedule">Schedule</a><br></h3>
                            <img style="width: 30%" src="img/sched.png" />
                            
                        </div>
                    </div>
                </div>
            </section>            
            

<!--
            <section style="padding-top:75px;">
                <div class="container">
                    <div class="row text-center" style="align-items: center; justify-content: center;">
                        <div class="col-md-12">

                            <img class="img-fluid" style="width: 100%;" src="img/SDMXGC23 plan - Governance structure.svg" />
                        </div>
                    </div>
                </div>
            </section>
-->

        </main>

{{ end }}
