{{ define "main" }}
        <main role="main">

            <section style="padding-top:75px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>SDMX Global Conference 2023</h1>
                            <h1>Organising committee website</h1>
                        </div>
                    </div>
                </div>
            </section>
            
            <section style="padding-top:75px; padding-bottom: 400px;">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6">
                            <h3>Timeline<br></h3>
                            <table class="table table-sm">
                              <tbody>
                                    <tr>
                                        <td>Registration Opens</td>
                                        <td>05 June 2023</td>
                                    </tr>
                                    <tr>
                                        <td>Abstract Submission Deadline</td>    
                                        <td>31 July 2023</td>
                                    </tr>
                                    <tr>
                                        <td>Abstract Acceptance Notification</td>    
                                        <td>11 August 2023</td>
                                    </tr>                                  
                                    <tr>
                                        <td>Draft Presentations Deadline</td>    
                                        <td>15 September 2023</td>
                                    </tr>               
                                    <tr>
                                        <td>Final Presentations Deadline</td>    
                                        <td>29 September 2023</td>
                                    </tr>                      
                                    <tr>
                                        <td>In-Person Registration Deadline</td>    
                                        <td>29 September 2023</td>
                                    </tr>               
                                    <tr>
                                        <td>Virtual Attendance Registration Deadline</td>    
                                        <td>20 October 2023</td>
                                    </tr>             
                                    <tr>
                                        <td>Conference Dates</td>    
                                        <td>29 October to 02 November 2023</td>
                                    </tr>                                  
                               </tbody>
                            </table>
                        </div>
                        

                        <div class="col-md-6">
                            <h3>Detailed schedule</h3>

                            <a href="/schedule2"><img style="width: 90%" src="img/sched.png" /></a>
                            
                        </div>                        
                    </div>
                    
                    <div class="row">

                        <div class="col-md-6">

                            
                        </div>                           
                        
                        <div class="col-md-6">
                            <h3>Draft Venue and Logistics Schedule</h3>

                            <a href="/schedule3"><img style="width: 90%" src="img/sched3.png" /></a>                            
                        </div>                        
                        

                        

                    </div>      
                    
                    
                    
                    <div class="row"> 
                        <div class="col-md-6">
                            <h3>Conference Website</h3>
                            <a href="https://sdmx2023.org"><img style="width: 90%" src="img/website.png" /></a>
                        </div>
                        <div class="col-md-6">
                            <h3>Committee Yammer Group</h3>
                            <p>The Organising Committee's collaboration platform is hosted under the UN's Global Network of Data Officers and Statisticians</p>
                            <a href="https://www.yammer.com/unstats/#/threads/inGroup?type=in_group&feedId=131318112256&view=all" class="btn btn-primary btn-sm" role="button">Access Here</a>
                        </div>
                    </div>
                </div>
            </section>     
            
                 
            

<!--
            <section style="padding-top:75px;">
                <div class="container">
                    <div class="row text-center" style="align-items: center; justify-content: center;">
                        <div class="col-md-12">

                            <img class="img-fluid" style="width: 100%;" src="img/SDMXGC23 plan - Governance structure.svg" />
                        </div>
                    </div>
                </div>
            </section>
-->

        </main>

{{ end }}
