{{ define "main" }}
        <main role="main">

            <section style="padding-top:75px;">
                <div class="container">
                    <div>
                        <div class="col-md-12">
                            <h1>SDMX Global Conference 2023</h1>
                            <h1>Organising committee website</h1>
                        </div>
                    </div>
                </div>
            </section>
            
            <section style="padding-top:75px; padding-bottom: 400px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">

                            <h3>Current Timeline</h3>
                            Provides 4 weeks for submission of abstracts
                            <a href="/schedule"><img style="width: 70%" src="img/sched.png" /></a>
                            
                        </div>
                        <div class="col-md-6">
                            <h3>Alternative Timeline<br></h3>
                            Provides 8 weeks for submission of abstracts
                            <a href="/schedule2"><img style="width: 70%" src="img/sched2.png" /></a>
                            
                        </div>                        
                    </div>
                </div>
            </section>     
            
                 
            

<!--
            <section style="padding-top:75px;">
                <div class="container">
                    <div class="row text-center" style="align-items: center; justify-content: center;">
                        <div class="col-md-12">

                            <img class="img-fluid" style="width: 100%;" src="img/SDMXGC23 plan - Governance structure.svg" />
                        </div>
                    </div>
                </div>
            </section>
-->

        </main>

{{ end }}
