<h1 id="whatis">What is SDMX?</h1>
<p> SDMX provides a metamodel for describing data in any statistical domain. The origins of the SDMX Information Model can be traced directly back to the model for the Generic Statistical Message (GESMES) which is a UN/EDIFACT standard, but in reality the core of the model is an evolution over time dating back to the 1970's. Following the launch of SDMX in 2001 this model has been enhanced significantly and is implemented fully in XML (SDMX-ML) and specific parts of it in UN/EDIFACT (a sub set of the GESMES message supporting time series), and JSON (to support data dissemination over the web). </p>
<p> The SDMX initiative is sponsored by seven organisations: </p>
<p> Bank for International Settlements (BIS); European Central Bank (ECB); Eurostat; International Monetary Fund (IMF); Organisation for Economic Co-operation and Development (OECD); United Nations Statistics Division (UNSD); World Bank. </p>
<p> SDMX supports many statistical activities and the processes supporting these activities: </p>
<ul>
  <li> data collection – data registration and data retrieval, data validation</li>
  <li> data reporting and data mapping</li>
  <li> data dissemination – data discovery, data query, data portal</li>
  <li> structural metadata repository for metadata management, persistence, query, and retrieval</li>
  <li> reference metadata reporting and dissemination, and linking metadata to data points</li>
</ul>
